<div class="modal fade bs-example-modal-lg" data-bs-backdrop="static" data-keyboard="false" id="modal-large" tabindex="-1"
     role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" data-bs-backdrop="static" data-keyboard="false" id="modal-small" tabindex="-1"
     role="dialog" style="display: none;z-index:1100" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal modal-fill fade" data-backdrop="false" id="modal-fill" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal modal-right fade" data-bs-backdrop="static" data-keyboard="false" id="modal-right" tabindex="-1"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal center-modal fade" data-bs-backdrop="static" data-keyboard="false" id="modal-center" tabindex="-1"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal center-modal fade bs-example-modal-lg" data-bs-backdrop="static" data-keyboard="false"
     id="modal-center-large" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal center-modal fade bs-example-modal-lg" data-bs-backdrop="static" data-keyboard="false"
     id="modal-center-xlarge" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal center-modal fade bs-example-modal-sm" data-bs-backdrop="static" data-keyboard="false"
     id="modal-center-small" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal center-modal fade modal-center" id="modal-small-calling" data-bs-backdrop="static" data-keyboard="false"
     tabindex="-1" style="display: none; z-index:99999" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>