.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.vertikal {
    vertical-align: middle !important;
}

.modal-body {
    padding-bottom: 0px !important;
}

.card-custom, .dropdown-menu, .table, .dropdown-toggle, .sticky-toolbar, .subheader {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%) !important;
}

.border-dashed {
    border-style: dashed !important;
}

.main-body {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

td {
    vertical-align: middle !important;
}

.dataTables_wrapper .dataTable td {
    padding: 0.5rem !important;
    vertical-align: middle;
}

@media (max-width: 500px) {
    .main-body {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .mt-8 {
        margin-top: 1rem !important;
    }

    .mb-8 {
        margin-top: 1rem !important;
    }
}

@media (max-width: 991.98px) {
    .topbar {
        background-color: #1a1a27 !important;
        height: 55px !important;
    }

    .header-mobile-fixed .topbar {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.emoji-picker__wrapper {
    z-index: 99;
}

.select2-results__option {
    text-align: left;
}

.btn-download {
    width: 40px;
}

.btn-download, img {
    align-self: center;
}

    .btn-download span {
        margin-top: 3px;
    }

.pulse-custom {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #cca92c;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

/*.emoji-picker__wrapper {
    z-index: 99;
}*/

.w-90 {
    width: 90% !important;
}

.max-w-75 {
    max-width: 75% !important;
}

.kt_chat_cont {
    position: fixed;
    bottom: 0px;
    z-index: 99;
}

.kt_chat_min_main {
    width: 65px;
    border-radius: 100%;
    display: none;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.button-td {
    padding: 2px !important;
    text-align: -webkit-center;
    vertical-align: middle !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    width: 100%;
    white-space: nowrap;
}

label {
    font-weight: 600 !important;
}

[data-letter]:before {
    content: attr(data-letter);
    display: inline-block;
    font-size: var(--tooltip-font-size);
    width: var(--tooltop-size);
    height: var(--tooltop-size);
    line-height: var(--tooltip-line-height);
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
    background: var(--tooltip-color);
    padding: 0;
    font-weight: 600;
}

.required:after {
    content: " *";
    color: #ea585a;
}

.modal.modal-sticky.modal-sticky-bottom-right {
    max-width: 400px !important
}

.modal.fade.modal-right.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade.modal-right .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 360px;
    max-width: 100%;
    margin: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: .5s;
    transition: .5s;
}

.modal-right .modal-content {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 0;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

#kt_school_icon {
    margin-top: -5px
}

@media (max-width: 1092px) {
    #kt_school_icon {
        margin-top: -5px !important;
    }
}

#kt_aside, #kt_subheader, #kt_header, #kt_content, #kt_wrapper, .main-body, #kt_quick_user, .form-control {
    transition: all .3s linear;
}

.demo-checkbox label, .demo-radio-button label {
    min-width: 200px;
    margin-bottom: 20px;
}

.demo-swtich .demo-switch-title, .demo-swtich .switch {
    width: 150px;
    margin-bottom: 10px;
    display: inline-block;
}

[type=checkbox]:checked.chk-col-red + label:before {
    border-right: 2px solid #ef5350;
    border-bottom: 2px solid #ef5350;
}

[type=checkbox]:checked.chk-col-purple + label:before {
    border-right: 2px solid #926dde;
    border-bottom: 2px solid #926dde;
}

[type=checkbox]:checked.chk-col-deep-purple + label:before {
    border-right: 2px solid #664ce1;
    border-bottom: 2px solid #664ce1;
}

[type=checkbox]:checked.chk-col-blue + label:before {
    border-right: 2px solid #398bf7;
    border-bottom: 2px solid #398bf7;
}

[type=checkbox]:checked.chk-col-light-blue + label:before {
    border-right: 2px solid #398bf7;
    border-bottom: 2px solid #398bf7;
}

[type=checkbox]:checked.chk-col-teal + label:before {
    border-right: 2px solid #39CCCC;
    border-bottom: 2px solid #39CCCC;
}

[type=checkbox]:checked.chk-col-green + label:before {
    border-right: 2px solid #00c292;
    border-bottom: 2px solid #00c292;
}

[type=checkbox]:checked.chk-col-yellow + label:before {
    border-right: 2px solid #fec107;
    border-bottom: 2px solid #fec107;
}

[type=checkbox]:checked.chk-col-orange + label:before {
    border-right: 2px solid #f7941d;
    border-bottom: 2px solid #f7941d;
}

[type=checkbox]:checked.chk-col-deep-orange + label:before {
    border-right: 2px solid #df8214;
    border-bottom: 2px solid #df8214;
}

[type=checkbox]:checked.chk-col-maroon + label:before {
    border-right: 2px solid #8C1919;
    border-bottom: 2px solid #8C1919;
}

[type=checkbox]:checked.chk-col-grey + label:before {
    border-right: 2px solid #d2d6de;
    border-bottom: 2px solid #d2d6de;
}

[type=checkbox]:checked.chk-col-navy + label:before {
    border-right: 2px solid #001F3F;
    border-bottom: 2px solid #001F3F;
}

[type=checkbox]:checked.chk-col-black + label:before {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

[type=checkbox]:checked.chk-col-white + label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

[type=checkbox].filled-in:checked + label:before {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}

[type=checkbox].filled-in:checked.chk-col-red + label:after {
    border: 2px solid #ef5350;
    background-color: #ef5350;
}

[type=checkbox].filled-in:checked.chk-col-purple + label:after {
    border: 2px solid #926dde;
    background-color: #926dde;
}

[type=checkbox].filled-in:checked.chk-col-deep-purple + label:after {
    border: 2px solid #664ce1;
    background-color: #664ce1;
}

[type=checkbox].filled-in:checked.chk-col-blue + label:after {
    border: 2px solid #398bf7;
    background-color: #398bf7;
}

[type=checkbox].filled-in:checked.chk-col-light-blue + label:after {
    border: 2px solid #398bf7;
    background-color: #398bf7;
}

[type=checkbox].filled-in:checked.chk-col-teal + label:after {
    border: 2px solid #39CCCC;
    background-color: #39CCCC;
}

[type=checkbox].filled-in:checked.chk-col-green + label:after {
    border: 2px solid #00c292;
    background-color: #00c292;
}

[type=checkbox].filled-in:checked.chk-col-yellow + label:after {
    border: 2px solid #fec107;
    background-color: #fec107;
}

[type=checkbox].filled-in:checked.chk-col-orange + label:after {
    border: 2px solid #f7941d;
    background-color: #f7941d;
}

[type=checkbox].filled-in:checked.chk-col-deep-orange + label:after {
    border: 2px solid #df8214;
    background-color: #df8214;
}

[type=checkbox].filled-in:checked.chk-col-maroon + label:after {
    border: 2px solid #8C1919;
    background-color: #8C1919;
}

[type=checkbox].filled-in:checked.chk-col-grey + label:after {
    border: 2px solid #d2d6de;
    background-color: #d2d6de;
}

[type=checkbox].filled-in:checked.chk-col-navy + label:after {
    border: 2px solid #001F3F;
    background-color: #001F3F;
}

[type=checkbox].filled-in:checked.chk-col-black + label:after {
    border: 2px solid #000;
    background-color: #000;
}

[type=checkbox].filled-in:checked.chk-col-white + label:after {
    border: 2px solid #fff;
    background-color: #fff;
}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type=checkbox] + label {
    font-weight: 300;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

    [type=checkbox] + label:before, [type=checkbox]:not(.filled-in) + label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        margin-top: 2px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

[type=checkbox]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type=checkbox]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba(0, 0, 0, .26);
}

[type=checkbox].tabbed:focus + label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .1);
}

[type=checkbox]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #398bf7;
    border-bottom: 2px solid #398bf7;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:checked:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, .26);
    border-bottom: 2px solid rgba(0, 0, 0, .26);
}

[type=checkbox]:indeterminate + label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, .26);
    background-color: transparent;
}

[type=checkbox].filled-in + label:after {
    border-radius: 2px;
}

[type=checkbox].filled-in + label:after, [type=checkbox].filled-in + label:before {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1;
}

[type=checkbox].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0;
}

[type=checkbox].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #398bf7;
    background-color: #398bf7;
    z-index: 0;
}

[type=checkbox].filled-in.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, .1);
}

[type=checkbox].filled-in.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: #398bf7;
    border-color: #398bf7;
}

[type=checkbox].filled-in:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent;
}

[type=checkbox].filled-in:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: #BDBDBD;
}

[type=checkbox].filled-in:disabled:checked + label:before {
    background-color: transparent;
}

[type=checkbox].filled-in:disabled:checked + label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

    [type=radio]:checked + label, [type=radio]:not(:checked) + label {
        font-weight: 300;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        -webkit-transition: .28s ease;
        -o-transition: .28s ease;
        transition: .28s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

[type=radio] + label:after, [type=radio] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}

[type=radio].with-gap:checked + label:after, [type=radio].with-gap:checked + label:before, [type=radio]:checked + label:after, [type=radio]:checked + label:before, [type=radio]:not(:checked) + label:after, [type=radio]:not(:checked) + label:before {
    border-radius: 50%
}

[type=radio]:not(:checked) + label:after, [type=radio]:not(:checked) + label:before {
    border: 2px solid #5a5a5a;
}

[type=radio]:not(:checked) + label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type=radio]:checked + label:before {
    border: 2px solid transparent;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap:checked + label:after, [type=radio].with-gap:checked + label:before, [type=radio]:checked + label:after {
    border: 2px solid #398bf7;
}

[type=radio].with-gap:checked + label:after, [type=radio]:checked + label:after {
    background-color: #398bf7;
    z-index: 0;
}

[type=radio]:checked + label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

[type=radio].with-gap:checked + label:after {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

[type=radio].tabbed:focus + label:before {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap:disabled:checked + label:before {
    border: 2px solid rgba(0, 0, 0, .26);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap:disabled:checked + label:after {
    border: none;
    background-color: rgba(0, 0, 0, .26);
}

[type=radio]:disabled:checked + label:before, [type=radio]:disabled:not(:checked) + label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .26);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio]:disabled + label {
    color: rgba(0, 0, 0, .26);
}

[type=radio]:disabled:not(:checked) + label:before {
    border-color: rgba(0, 0, 0, .26);
}

[type=radio]:disabled:checked + label:after {
    background-color: rgba(0, 0, 0, .26);
    border-color: #BDBDBD;
}

input[type="color"] {
    height: 42px;
}

.form-type-roundinput.form-control, .form-type-round input.form-control, .form-type-roundselect:not([multiple]).form-control, .form-type-round select:not([multiple]).form-control {
    border-radius: 10rem;
    padding-left: 20px;
    padding-right: 20px;
}
