@using AMS.Areas.Administration.Models.Email
@model EmailVM
@{
    ViewData["Title"] = Resource.EmailConfiguration;
}

<div class="card card-custom gutter-b" id="kt_database" style="display: none;">
    <div class="card-header">
        <h3 class="card-title">@Resource.EmailConfigurationForDB</h3>
    </div>
    <div class="card-body" id="kt_db_email">
    </div>
</div>

<div class="card card-custom gutter-b" id="kt_appsettings" style="display: none;">
    <div class="card-header">
        <h3 class="card-title">@Resource.EmailConfigurationForApp</h3>
    </div>
    <div class="card-body" id="kt_app_email">
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#kt_db_email').load('@Url.Action("DBIndex", "Email")', function () {
                $('#kt_database').slideDown(500);
            });

            $('#kt_app_email').load('@Url.Action("AppIndex", "Email")', function () {
                $('#kt_appsettings').slideDown(500);
            });
        });
    </script>
}
