@{
    ViewData["Title"] = Resource.Attendance;
}

<div class="card card-custom gutter-b">
    <div class="card-header card-header-tabs-line border-0">
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line justify-content-center kt_tabs">
                <li class="nav-item mx-2" id="kt_staff_tab">
                    <a class="nav-link text-active-primary active" id="tab_staff" data-bs-toggle="tab" href="/Attendance/SearchStaff" data-target="#kt_staff">
                        <span class="nav-icon mr-2"><i class="fas fa-users"></i></span>
                        <span class="nav-text font-size-h6">@Resource.Staff</span>
                    </a>
                </li>
                <li class="nav-item mx-2" id="kt_attendance_tab">
                    <a class="nav-link text-active-primary" id="tab_attendance" data-bs-toggle="tab" href="/Attendance/SearchAttendance" data-target="#kt_attendance">
                        <span class="nav-icon mr-2"><i class="fas fa-calendar-alt"></i></span>
                        <span class="nav-text font-size-h6">@Resource.Attendance</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel">
        <div class="mt-1" id="kt_staff"></div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade show" role="tabpanel">
        <div class="mt-1" id="kt_attendance"></div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $($('.kt_tabs').find('a')[0]).trigger('click');
            }, 150);

            $('[data-bs-toggle="tab"]').click(function (e) {
                e.preventDefault();
                load_url = $(this).attr('href'),
                target = $(this).attr('data-target');

                $.get(load_url, function(data) {
                    $('.tab-content').find('.active').removeClass('active');
                    $(target).parent().addClass('active');
                    $(target).html(data);
                });

                $(this).tab('show')
                return false;
            });
        });
    </script>
}
