@{
    ViewData["Title"] = Resource.Attendance;
}

<div class="card card-primary card-outline card-outline-tabs" id="kt_navigation">
    <div class="card-header p-0 card-header-tabs-line border-bottom-0">
        <ul class="nav nav-tabs kt_tabs" role="tablist" id="kt_tabs">
            <li class="nav-item">
                <a href="/Attendance/SearchStaff" class="nav-link" role="tab" id="tab_menu" data-toggle="tab" data-target="#kt_staff">
                    @Resource.StaffList
                </a>
            </li>
            <li class="nav-item">
                <a href="/Attendance/SearchAttendance" class="nav-link" role="tab" id="tab_apps" data-toggle="tab" data-target="#kt_attendance">
                    @Resource.AttendanceList
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel">
        <div class="mt-1" id="kt_staff"></div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade show" role="tabpanel">
        <div class="mt-1" id="kt_attendance"></div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $($('.kt_tabs').find('a')[0]).trigger('click');
            }, 150);

            $('[data-toggle="tab"]').click(function(e) {
                e.preventDefault();
                load_url = $(this).attr('href'),
                target = $(this).attr('data-target');

                $.get(load_url, function(data) {
                    $('.tab-content').find('.active').removeClass('active');
                    $(target).parent().addClass('active');
                    $(target).html(data);
                });

                $(this).tab('show')
                return false;
            });
        });

        function menu_tab() {
            $("#kt_menu").load('@Url.Action("Search", "Authorizations")', {
                Role: $('#Role').val(),
                "__RequestVerificationToken": $("[name='__RequestVerificationToken']").val()
                }, function() {
                    sessionStorage.setItem("tab_auth", "tab_menu");
            });
        }

        function auth_tab() {
            $("#kt_apps").load('@Url.Action("Rules", "Authorizations")', {
                role: $('#Role').val()
                }, function() {
                    sessionStorage.setItem("tab_auth", "tab_apps");
            });
        }

        function format_repo(repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                '<span class="d-flex align-items-center">' + repo.text + '</span>'
            );
            return $container;
        }

        function format_repo_selection(repo) {
            return repo.text;
        }
    </script>
}
